.invoice {
  background-color: #fff9f1;
  padding-top: 32px;
  padding: 24px;
  width: 100%;
}
.invoice-head {
  color: #4c4d4f;
  font-size: 30px;
  line-height: 51px;
  display: flex;
}
.invoice-subhead {
  font-size: 20px;
  line-height: 22px;
  color: #4c4d4fd9;
  padding-top: 12px;
  padding-bottom: 33px;
  display: flex;
}
.invoice-content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.payment-successful {
  height: 120vh;
  width: 100vw;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  opacity: 20%;
}

@media screen and (max-width: 835px) {
  .payment-successful{
    height: 161vh;
  }
}